# Ne pas ignorer le fichier TQuadTree.h et son dossier parent
!QuadTree/
!QuadTree/TQuadTree.h
!.gitignore

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Dossiers de build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Fichiers Visual Studio
*.sln
*.vcxproj
*.filters
*.user
*.aps
*.pch
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Fichiers de cache Visual Studio
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

